<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wsure.dao.TableMapper" >
    <select id="hasTable" parameterType="string" resultType="java.lang.Boolean">
        select count(*) from sqlite_master WHERE type = 'table' and name=#{name,jdbcType=VARCHAR}
    </select>

    <update id="createNewGroup" parameterType="String">
        CREATE TABLE IF NOT EXISTS #{groupId,jdbcType=VARCHAR} (
            word_id  INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
            question  TEXT NOT NULL,
            answer  TEXT NOT NULL,
            type  INTEGER NOT NULL DEFAULT 0,
            commit_time  TimeStamp NOT NULL DEFAULT (datetime('now','localtime')),
            commit_user  INTEGER
        )
    </update>

    <insert id="copyLexicon" parameterType="map">
        insert into #{toGroupId,jdbcType=VARCHAR} select * from #{fromGroupId,jdbcType=VARCHAR}
    </insert>

    <delete id="deleteLexicon" parameterType="string" >
        delete from #{groupId,jdbcType=VARCHAR}
    </delete>
    
    <update id="resetSequence" parameterType="string">
        update sqlite_sequence SET seq = 0 where name = #{groupId,jdbcType=VARCHAR}
    </update>
</mapper>